nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
}
nav li {
  padding: 15px;
  list-style-type: none;
  font-size: 0.8em;
}
nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.671);
}
nav a:hover {
  color: hsl(39, 97%, 53%);
}
nav h1 {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
nav .sidebar {
  height: 650px;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 999;
  position: fixed;
  flex-direction: row;
  color: white;
  background-color: rgba(253, 250, 250, 0.884);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}
nav .sidebar li, nav .sidebar a {
  display: block;
  color: #222222;
  text-decoration: none;
  padding: 30px 80px 20px 50px;
  font-size: 1em;
  line-height: 1;
  margin-left: 2px;
  margin-right: -20px;
  transition: 0.3s;
  width: 100%;
  font-weight: 550;
}
@media (max-width: 500px) {
  nav ul {
    padding: 0;
  }
}

.grid-main-container {
  max-height: 100vh;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 10px;
}
.grid-main-container .grid-container1 {
  background: white;
}
.grid-main-container .item-1 {
  grid-column: 1/10;
}
.grid-main-container .grid-container2 img {
  width: 100%;
  height: 105%;
  -o-object-fit: fill;
     object-fit: fill;
}
.grid-main-container .item-2 {
  grid-area: 2/1/6/7;
}
.grid-main-container .grid-container3 h1 {
  line-height: 0.2;
  font-size: 3.1em;
  letter-spacing: 0.1px;
}
.grid-main-container .item-3 {
  grid-area: 6/1/9/4;
}
.grid-main-container .grid-container4 p {
  line-height: 1.2px;
  color: hsla(0, 4%, 5%, 0.678);
  font-size: 0.8em;
}
.grid-main-container .grid-container4 a {
  text-decoration: none;
  background: hsl(5, 85%, 63%);
  padding: 10px 20px 10px 20px;
  color: white;
}
.grid-main-container .item-4 {
  grid-area: 6/4/9/7;
}
.grid-main-container .grid-container5 {
  padding: 10px;
  background: rgb(17, 17, 29);
  height: 330px;
}
.grid-main-container .grid-container5 h1 {
  color: hsl(35, 77%, 62%);
  line-height: 1.2;
}
.grid-main-container .grid-container5 h3 {
  color: rgba(255, 255, 255, 0.884);
  line-height: 0.2;
}
.grid-main-container .grid-container5 p {
  color: rgba(255, 255, 255, 0.527);
  font-size: 0.8em;
}
.grid-main-container .item-5 {
  grid-area: 2/7/9/10;
}
.grid-main-container .grid-container6 {
  padding: 10px;
  display: grid;
}
.grid-main-container .grid-container6 img {
  width: 90px;
  height: 115px;
  position: absolute;
  margin-top: 5px;
}
.grid-main-container .grid-container6 .text-1 {
  color: rgba(128, 128, 128, 0.685);
  margin-left: 100px;
  line-height: 0.1;
  letter-spacing: 3px;
}
.grid-main-container .grid-container6 .text-2 {
  margin-left: 100px;
  font-size: 0.9em;
  margin-top: -1px;
}
.grid-main-container .grid-container6 .text-3 {
  margin-left: 100px;
  line-height: 1.3;
  font-size: 0.8em;
  margin-top: -1px;
  color: rgba(0, 0, 0, 0.753);
}
.grid-main-container .item-6 {
  grid-area: 9/1/12/4;
}
.grid-main-container .grid-container7 {
  padding: 10px;
}
.grid-main-container .grid-container7 img {
  width: 90px;
  height: 115px;
  position: absolute;
  margin-top: 5px;
}
.grid-main-container .grid-container7 .text-1 {
  color: rgba(128, 128, 128, 0.685);
  margin-left: 100px;
  line-height: 0.1;
  letter-spacing: 3px;
}
.grid-main-container .grid-container7 .text-2 {
  margin-left: 100px;
  font-size: 0.9em;
  margin-top: 19px;
}
.grid-main-container .grid-container7 .text-3 {
  margin-left: 100px;
  line-height: 1.3;
  font-size: 0.8em;
  margin-top: -1px;
  color: rgba(0, 0, 0, 0.753);
}
.grid-main-container .item-7 {
  grid-area: 9/4/12/7;
}
.grid-main-container .grid-container8 {
  padding: 10px;
  display: grid;
}
.grid-main-container .grid-container8 img {
  width: 90px;
  height: 115px;
  position: absolute;
  margin-top: 5px;
}
.grid-main-container .grid-container8 .text-1 {
  color: rgba(128, 128, 128, 0.685);
  margin-left: 100px;
  line-height: 0.1;
  letter-spacing: 3px;
}
.grid-main-container .grid-container8 .text-2 {
  margin-left: 100px;
  font-size: 0.9em;
  margin-top: -1px;
}
.grid-main-container .grid-container8 .text-3 {
  margin-left: 100px;
  line-height: 1.3;
  font-size: 0.8em;
  margin-top: -1px;
  color: rgba(0, 0, 0, 0.753);
}
.grid-main-container .item-8 {
  grid-area: 9/7/12/10;
}

.menu-btn {
  display: none;
}

@media (max-width: 1440px) {
  .grid-container5 {
    height: 400px;
  }
}
@media (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
  }
  .toHide {
    display: none;
  }
  .menu-btn {
    display: block;
    right: 30px;
  }
  .grid-main-container {
    display: block;
    padding: 10px;
  }
  .grid-main-container .grid-container2 img {
    height: auto;
  }
  .grid-main-container .grid-container3 h1 {
    font-size: 5em;
  }
  .grid-main-container .grid-container4 p {
    font-size: 2em;
    line-height: 0.8;
  }
  .grid-main-container .grid-container5 {
    margin-top: 50px;
    height: 520px;
    padding: 20px;
  }
  .grid-main-container .grid-container5 h1 {
    font-size: 2.5em;
  }
  .grid-main-container .grid-container5 h3 {
    font-size: 1.5em;
  }
  .grid-main-container .grid-container5 p {
    font-size: 1.2em;
  }
  .grid-main-container .grid-container6,
  .grid-main-container .grid-container7,
  .grid-main-container .grid-container8 {
    margin-top: 20px;
  }
  .grid-main-container .grid-container6 img,
  .grid-main-container .grid-container7 img,
  .grid-main-container .grid-container8 img {
    width: 95px;
    height: 120px;
    position: absolute;
    margin-top: 5px;
  }
  .grid-main-container .grid-container6 .text-1,
  .grid-main-container .grid-container7 .text-1,
  .grid-main-container .grid-container8 .text-1 {
    margin-top: 15px;
    font-size: 2em;
  }
  .grid-main-container .grid-container6 .text-2,
  .grid-main-container .grid-container7 .text-2,
  .grid-main-container .grid-container8 .text-2 {
    font-size: 1.5em;
  }
  .grid-main-container .grid-container6 .text-3,
  .grid-main-container .grid-container7 .text-3,
  .grid-main-container .grid-container8 .text-3 {
    margin-top: 2px;
    font-size: 1.2em;
  }
}
@media (max-width: 800px) and (max-width: 500px) {
  .grid-main-container .grid-main-container {
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    padding: 0;
  }
  .grid-main-container .grid-container2 img {
    height: 250px;
    width: 100%;
  }
  .grid-main-container .grid-container3 h1 {
    font-size: 3em;
    overflow-wrap: break-word;
  }
  .grid-main-container .grid-container4 p {
    font-size: 1em;
    line-height: 1;
  }
  .grid-main-container .grid-container5 {
    height: 420px;
    overflow-wrap: anywhere;
  }
  .grid-main-container .grid-container5 h1 {
    font-size: 2.5em;
  }
  .grid-main-container .grid-container5 h3 {
    font-size: 1em;
  }
  .grid-main-container .grid-container5 p {
    font-size: 1em;
  }
  .grid-main-container .grid-container6,
  .grid-main-container .grid-container7,
  .grid-main-container .grid-container8 {
    margin-top: 2px;
  }
  .grid-main-container .grid-container6 img,
  .grid-main-container .grid-container7 img,
  .grid-main-container .grid-container8 img {
    width: 95px;
    height: 122px;
    margin-top: 5px;
  }
  .grid-main-container .grid-container6 .text-2,
  .grid-main-container .grid-container7 .text-2,
  .grid-main-container .grid-container8 .text-2 {
    font-size: 1em;
  }
  .grid-main-container .grid-container6 .text-3,
  .grid-main-container .grid-container7 .text-3,
  .grid-main-container .grid-container8 .text-3 {
    font-size: 1em;
    line-height: 1;
  }
}
@font-face {
  font-family: "Inter";
  src: url(..//assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body {
  margin: 15px;
  padding: 0;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}/*# sourceMappingURL=style.css.map */